:root {
  --purple: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(./images/bg-mobile.svg);
  background-color: var(--purple);
  color: white;
  background-repeat: no-repeat;
}

header {
  padding: 20px;
  width: 12rem;
}

.logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.mockup_img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}
main {
  padding: 20px;
  font-size: 14px;
  text-align: center;
}
.content {
  font-size: 13.5px;
  padding: 16px;
}
button {
  background-color: white;
  color: var(--purple);
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  margin: 10px auto;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}
button:hover {
  color: white;
  background-color: hsl(257, 84%, 66%);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  margin: 10px 0;
}
.icon {
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (min-width: 750px) {
  body {
    background-image: url(./images/bg-desktop.svg);
  }
  main {
    display: flex;
    text-align: left;
  }
  section {
    padding: 20px;
    margin: 0 10px;
  }
  .mockup_img {
    max-width: 550px;
    height: auto;
    padding: 20px;
  }
  .title {
    font-size: 40px;
  }
  .content {
    padding: 10px 0px;
  }
  footer {
    float: right;
    margin: 0 100px;
  }
}
